
<div *ngIf="ami" class="bg-total-1">
    <div class="container mt-4">
      <div class="row bg-palo-rosa-1">
        <div class="col-md-6">
          <img [src]="ami.img" class="img-fluid" [alt]="ami.nombre">
        </div>
        <div class="col-md-6" >
          <h2 class="text-titulo-1" >{{ ami.nombre }}</h2>
          <p class="text-subtitulo-1">{{ ami.descripcion }}</p>
          <p class="text-card-1"><strong>Precio: {{ ami.precio | currency:'S/.':'symbol' }}</strong></p>
          <a href="https://wa.me/51993679556?text=Hey%20estoy%20intersado%20en%20este%20producto%20{{ami.nombre}}" target="_blank">
            <button class="btn-buy">Comprar</button>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!ami">
    <p>Producto no encontrado</p>
  </div>
  