
<body class="d-flex flex-column h-100 bg-light">
    <main class="flex-shrink-0">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-white py-3">
            <div class="container px-5">
                <a class="navbar-brand" href="index.html"><span class="fw-bolder text-primary">Tienda Delis</span></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0 small fw-bolder">
                        <li class="nav-item"><a class="nav-link" [routerLink]="['']">Inicio</a></li>
                        <li class="nav-item"><a class="nav-link" [routerLink]="['/amigurumis']">Amigurumis</a></li>
                            
                    </ul>
                </div>
            </div>
        </nav>
        <header class="py-5 bg-primary text-white text-center">
            <div class="container px-5">
                <h1 class="display-4 fw-bolder">Bienvenido a Tienda Delis</h1>
                <p class="lead mb-0">Amigurumis con un propósito especial: fomentar una sexualidad saludable</p>
            </div>
        </header>
        
        <!-- About Section -->
        <section class="py-5">
            <div class="container px-5">
                <div class="text-center mb-5">
                    <h2 class="display-5 fw-bolder">¿Por qué Amigurumis?</h2>
                </div>
                <div class="row gx-5">
                    <div class="col-lg-6 mb-4">
                        <div class="p-3 bg-light border rounded-3">
                            <h3 class="fw-bolder">Romper el Hielo</h3>
                            <p>Los amigurumis pueden ser un recurso divertido y no intimidante para iniciar conversaciones sobre sexualidad.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-4">
                        <div class="p-3 bg-light border rounded-3">
                            <h3 class="fw-bolder">Educación</h3>
                            <p>Las frases en los amigurumis pueden proporcionar información valiosa y precisa sobre sexualidad, consentimiento y cuidado personal.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-4">
                        <div class="p-3 bg-light border rounded-3">
                            <h3 class="fw-bolder">Apoyo Emocional</h3>
                            <p>Los amigurumis pueden ofrecer un mensaje de apoyo y comprensión para aquellos que han experimentado situaciones difíciles relacionadas con la sexualidad.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-4">
                        <div class="p-3 bg-light border rounded-3">
                            <h3 class="fw-bolder">Fomentar la Reflexión</h3>
                            <p>Las frases en los amigurumis pueden inspirar a las personas a reflexionar sobre sus propias creencias y comportamientos relacionados con la sexualidad.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-4">
                        <div class="p-3 bg-light border rounded-3">
                            <h3 class="fw-bolder">Reducción del Estigma</h3>
                            <p>Los amigurumis pueden ayudar a normalizar las conversaciones sobre sexualidad y reducir el estigma asociado con ella.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        

        <section class="py-2 bg-primary text-white">
            <div class="container px-5 my-2">
                <div class="text-center">
                    <h2>¡Únete a Nuestra Comunidad!</h2>
                    <p>Estamos más que una tienda, somos una comunidad que cree en la importancia de hablar abiertamente sobre sexualidad saludable. Únete a nosotros para participar en eventos, talleres y más.</p>
                    <div class="d-flex justify-content-center fs-2 gap-4">
                        <a class="text-black" href="https://chat.whatsapp.com/In0FNj4ddCKGs5eZeWvdHa" target="_blank"><i class="bi bi-whatsapp"></i></a>
                        <a class="text-black" href="https://www.facebook.com/lis.cabanillas.902?mibextid=ZbWKwL" target="_blank"><i class="bi bi-facebook"></i></a>
                        <a class="text-black" href="https://www.tiktok.com/@lish.c?_t=8pZ9fIpDy3J&_r=1" target="_blank"><i class="bi bi-tiktok"></i></a>
                    </div>
                    
                    <!-- <a class="btn btn-outline-light btn-lg px-5 py-3 fs-6 fw-bolder" [routerLink]="['/Contact']">Contáctanos</a> -->
                </div>
            </div>
        </section>
    </main>
  
  </body>