.bg-palo-rosa {
    background-color: #FFD3C2; /* Palo rosa en hexadecimal */
}
.bg-palo-rosa-1 {
    background-color: #FFD3C2; /* Palo rosa en hexadecimal */
    padding: 20px; /* Añadir padding para mayor separación */
    border-radius: 10px; /* Bordes redondeados */
}
.text-titulo {
    color: #8675A9; /* Cambia a blanco */
}
.text-titulo-1 {
    color: #8675A9; /* Color de título */
    font-size: 2em; /* Tamaño de fuente más grande */
    margin-bottom: 10px; /* Espaciado inferior */
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.2); /* Sombra de texto */
}
.text-subtitulo {
    color: #6256CA; /* Ejemplo de color azul, puedes cambiarlo al color deseado */
}
.text-subtitulo-1 {
    color: #6256CA; /* Color del subtítulo */
    font-size: 1.2em; /* Tamaño de fuente ligeramente mayor */
    margin-bottom: 15px; /* Espaciado inferior */
}
.text-card-1 {
    color: #FB773C; /* Color del precio */
    font-size: 1.5em; /* Tamaño de fuente más grande */
    font-weight: bold;
    margin-bottom: 20px; /* Espaciado inferior */
}
.bg-total{
    background-color: #FDFAD9;
}
.bg-total-1 {
    background-color: #FDFAD9; /* Fondo general */
    padding: 20px; /* Padding adicional */
    border-radius: 10px; /* Bordes redondeados */
}
.bg-card{
    background-color: #86D293;
}

.bg-card-1{
    background-color: #6256CA;
}
.bg-card-2{
    background-color: #180161;
}

.text-card{
    color: whitesmoke;
}
.carousel-item img {
    width: 100%; /* Ajusta la imagen al ancho del contenedor */
    height: 100%; /* Ajusta la altura de la imagen al contenedor */
    object-fit: cover; /* Asegura que la imagen cubra el área del contenedor sin distorsionarse */
}
/* Estilo del botón de compra */
.btn-buy {
    background-color: #28a745; /* Verde éxito */
    color: #ffffff; /* Texto blanco */
    font-size: 18px; /* Tamaño de fuente mayor */
    font-weight: bold;
    padding: 12px 24px; /* Espaciado interno aumentado */
    border: none;
    border-radius: 8px; /* Bordes redondeados */
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s; /* Transición suave */
    text-transform: uppercase; /* Texto en mayúsculas */
    box-shadow: 0 4px 8px rgba(0,0,0,0.3); /* Sombra más pronunciada */
}

.btn-buy:hover {
    background-color: #218838; /* Verde más oscuro en hover */
    box-shadow: 0 6px 12px rgba(0,0,0,0.3); /* Sombra en hover */
}

.btn-buy:active {
    background-color: #1e7e34; /* Verde aún más oscuro en clic */
    box-shadow: 0 4px 8px rgba(0,0,0,0.3); /* Sombra en clic */
}

/*****************************************************************************************/
